<!DOCTYPE html> 
<html>
<head>
    <title>Index</title>
    <link href='index.css' type='text/css'>
</head>
<body>
    <div><h2>Kel's Exercise tracker</h2></div>div>

    <div>
        <p>This is an API that can be used to track a user's exercise regime.</p>

        <p>The API supports registering a new user and subsequently adding exercise logs for the user.</p>
        <br><br><br><br>    
        <p>Developed by <a href="https://github.com/kelsier27">kelsier27</a></p>
    </div>
</body>
</html>